.popup-avatar__container {
    display: flex;
    flex-direction: column;
    width: 430px;
    border-radius: 10px;
    position: relative;
    background-color: white;
    margin: 0;
}

@media all and (max-width: 900px) {
    .popup-avatar__container {
        display: flex;
        flex-direction: column;
        width: 282px;
        height: 250px;
    }
}