.grid__heart {
  background: url("../../../images/heart.svg");
  background-position: center;
  border: 0;
  width: 22px;
  height: 19px;
  margin-bottom: 3px;
}

.grid__heart:hover {
  opacity: 0.5;
  cursor: pointer;
}
