.auth__container {
    color: white;
    max-width: 358px;
    margin: 60px auto 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__title {
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 24px;
}

.auth-form {
    margin-bottom: 0;
}

.auth-form__input {
    width: 100%;
    margin-bottom: 30px;
    background: none;
    border: 0;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 13px;
}

.auth-form__input:last-of-type {
    margin-bottom: 216px;
}

.auth-form__register-caption {
    display: flex;
}

.register__login-link {
    margin: 0;
    text-decoration: none;
    color: white;
}

.auth-form__button {
    width: 358px;
    height: 50px;
    margin: 0 0 15px;
    background-color:  #FFFFFF;
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border: none;
    border-radius: 2px;
    padding: 0;
}

.auth-form__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media all and (max-width: 900px) {
    .form__button {
        width: 238px;
        height: 46px;
        font-size: 14px;
    }
}
