.grid__trash {
    background-image: url("../../../images/Trash.svg");
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    width: 18px;
    height: 19px;
}

.grid__trash:hover {
    cursor: pointer;
    opacity: 0.6;
}
