.new-item__container {
    display: flex;
    flex-direction: column;
    width: 430px;
    min-height: 330px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

@media all and (max-width: 900px) {
    .new-item__container {
        max-width: 282px;
    }
}
