.intro__add-button {
    background: url(../../../images/Plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 50px;
    padding: 14px 64px;
    border: 2px solid #FFFFFF;
}

.intro__add-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media all and (max-width: 900px) {
    .intro__add-button {
        padding: 17px 130px;
    }
}
