.header {
    margin: 0 auto 36px;
    padding-top: 45px;
    max-width: 880px;
    min-height: 74px;
    border: none;
    border-bottom: 1px solid #545454;
    display: flex;
    justify-content: space-between;
}

.header__link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 22px;
}

@media all and (max-width: 1279px) {
    .header {
        margin: 28px 0 38px;
        min-height: 56px;
    }
}
